{% extends 'base.html' %}

{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'home' %}"><i class="fa fa-home"></i> Главная</a>
                    <a href="{% url 'profile' user.username %}">Профиль</a>
                    <span>Добавить статью</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<section class="blog-details spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="form-group">
                    <form action="{% url 'add_article' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.media }}
                        {{form.as_p}}
                        <button type="submit" class="site-btn">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}